<mat-toolbar>
    <mat-toolbar-row>
        <img  class="logo"    src="../../../assets/logo.png" alt="">

        <input type="text" #searchInput [(ngModel)]="searchStr">
        
        <button mat-stroked-button color="primary">search</button>
        
        <button class="setting" (click)="onShowFilter()"><img src="../../../assets/search_settings.png" alt=""></button>
        
        <span class="login">Your name</span>
        <img src="../../../assets/login.png" alt="">
        
    </mat-toolbar-row>
</mat-toolbar>

<app-filtering-criteria *ngIf="showFilter"></app-filtering-criteria>