<mat-toolbar class="wrapper">

    <button [routerLink]="['/main']"><mat-icon>menu</mat-icon></button>

     <form >
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input type="text" matInput placeholder="search"
        [disabled]="!loginState"
          [value]="inputValue"
          (input)="emitSearchWord($event)">
      </mat-form-field>

      <button mat-icon-button
        [disabled]="!loginState"
        (click)="isFilterCriteriaShown = !isFilterCriteriaShown">
          <mat-icon>tune</mat-icon>
        </button>
      </form>

      <div>
        <span class="login">{{loginUser.login}}</span>
        <button><mat-icon>person</mat-icon></button>
      </div>

      <button class="user__logout btn" *ngIf="loginState" (click)="logout()">log out</button>

</mat-toolbar>


<app-filtering-criteria *ngIf="isFilterCriteriaShown && loginState"></app-filtering-criteria>


