mat-toolbar {
    height: 90px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    margin-right: 0;
}

input {
   border-radius: 5px;
   width: 350px;
   height: 30px;
}

.setting {
    border: none;
}

