<mat-toolbar class="wrapper">

  <!-- <a [routerLink]="['login']" routerLinkActive="active">Login</a>
  <a [routerLink]="['error']" routerLinkActive="active">Error</a>
  <a [routerLink]="['main']" routerLinkActive="active">Main</a> -->

    <button [routerLink]="['main']"><mat-icon>menu</mat-icon></button>
     
     <form >
      <mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input type="text" matInput placeholder="search" #searchInput/>
      </mat-form-field>
      
      <button type="submit" mat-icon-button (click)="onSearchInTitles(searchInput.value)">
        <mat-icon>youtube_searched_for</mat-icon>
      </button>

        <button mat-icon-button (click)="onShowFilter()">
          <mat-icon>tune</mat-icon>
        </button>
      </form>

      <div >
        <span class="login">Your name</span>
        <button [routerLink]="['login']" routerLinkActive="active" ><mat-icon>personal-outline</mat-icon></button>
      </div>

</mat-toolbar>

<!-- <app-filtering-criteria *ngIf="showFilter"></app-filtering-criteria> -->

<!-- (click)="onSearchInTitles(searchInput.value)" -->

