a {
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }


