a {
    text-decoration: none;
  }

  .mat-card-header .mat-card-title {
    font-size: 1rem;
    text-align: center;
  }

  .mat-card-subtitle {
    font-size: 0.8rem;
  }

  .mat-card-actions {
      padding: 0px;
  }

  .mat-card-image {
    background-size: cover;
  }

  .icons {
    text-align: center;
  }
