a {
    text-decoration: none;
  }
   
  .mat-card-header .mat-card-title {
    font-size: 1rem;
    text-align: center;
  }
  
  .mat-card-subtitle {
    font-size: 1rem;
  }

  .mat-card-actions {
      padding: 0px;
  }

  .mat-card-image {
    background-size: cover;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }