<mat-card class="example-card">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{videoData.snippet.title}}</mat-card-title>
    <mat-card-subtitle>{{videoData.snippet.publishedAt | date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="videoData.snippet.thumbnails.default.url" alt="screenshot">
  <mat-card-content>
    <p>{{videoData.snippet.description}}</p>
  </mat-card-content>
  <mat-card-subtitle class="icons row">
    <mat-icon>visibility</mat-icon>
    {{videoData.statistics.viewCount}}

    <mat-icon>thumb_up</mat-icon>
    {{videoData.statistics.likeCount}}

    <mat-icon>thumb_down</mat-icon>
    {{videoData.statistics.dislikeCount}}

    <mat-icon>chat_bubble_outline</mat-icon>
    {{videoData.statistics.commentCount}}
  </mat-card-subtitle>
</mat-card>
